<%-include("./partials/header");-%>
<link rel="stylesheet" href="/css/home.css">
<%-include("./partials/navbar");-%>
<br>
<br>
<br>
<br>
<br>
<main class=" text-center">
    <h1 style="color:white"><i class="fab fa-opencart"></i> &nbsp;Shopy</h1>
    <br>
    <h5 style="color:white"> Welcome to Shopy! <br> Jump right in and explore our many products. <br>
        Feel free to add some of your own and comment on others!<h4/>
    <a href="/product" class="btn  btn-outline-dark" style="color:wheat;">View Products</a>
</main>

<%-include("./partials/footer");-%>



